Repository adiabb05-1317/Sivera: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-flowterview-app

.pre-commit-config.yaml:

repos:
  # Python linting with Ruff for backend directories
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff
        name: Run Ruff linter on Python backends
        args: [--fix, --ignore=E501, B904, ARG001, ARG002, SIM102, SIM103]
        files: ^(backend|flowterview-backend)/.*\.py$

      - id: ruff-format
        name: Run Ruff formatter on Python backends
        files: ^(backend|flowterview-backend)/.*\.py$

  # Next.js/TypeScript linting with ESLint for frontend directories (non-blocking)
  - repo: local
    hooks:
      - id: eslint-frontend
        name: ESLint for frontend (warnings only)
        entry: bash -c 'cd frontend && pnpm lint --fix || true'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        verbose: true

      - id: eslint-flowterview-app
        name: ESLint for flowterview-app (warnings only)
        entry: bash -c 'cd flowterview-app && pnpm lint --fix || true'
        language: system
        files: ^flowterview-app/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        verbose: true

  # General hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|json|yaml|yml)$
      - id: end-of-file-fixer
        exclude: ^.*\.(md|json|yaml|yml)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements
        files: ^(backend|flowterview-backend)/.*\.py$
      - id: check-added-large-files
        args: ["--maxkb=1000"]

refactor: enhance dashboard layout and improve UI consistency
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/components/app-sidebar.tsx
Due: eslint-flowterview-app

refactor: enhance interview analytics and flow integration
  backend/src/services/analytics.py
  backend/src/services/interview_flow.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/round_router.py
  frontend/app/round/page.tsx
Due: eslint-frontend

feat: implement candidate removal functionality and UI updates
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/components/ui/CandidateCard.tsx
  flowterview-app/src/hooks/queries/useCandidates.ts
  flowterview-backend/src/router/candidate_router.py
Due: eslint-flowterview-app

refactor: standardize import statements and improve code formatting
  flowterview-app/src/app/query-provider.tsx
  flowterview-app/src/hooks/queries/useJobs.ts
  flowterview-app/src/lib/query-client.ts
  frontend/app/components/flowterview/audio-client.tsx
Due: eslint-frontend, eslint-flowterview-app

fixed tanstack issues for isStatic
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/lib/query-client.ts
Due: eslint-flowterview-app

mithra diffing up
  flowterview-app/public/Banner.png
  flowterview-app/public/SiveraTransparent.png
  flowterview-app/src/app/auth/login/page.tsx
Due: eslint-flowterview-app

diffing up mithra
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/auth/login-simple/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
Due: eslint-flowterview-app

Enhance candidate invitation workflow with email validation
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/supabase-hooks.ts
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/components/ui/sidebar.tsx
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-backend/src/router/candidate_router.py
Due: eslint-flowterview-app

bug fixes
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/components/CompanySetupModal.tsx
  flowterview-app/src/hooks/queries/useAuth.ts
  flowterview-backend/src/router/analytics_router.py
  frontend/app/components/flowterview/audio-client.tsx
Due: eslint-frontend, eslint-flowterview-app

user profile & interview time updates
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/components/UserSetupModal.tsx
  flowterview-app/src/components/app-sidebar.tsx
  flowterview-app/src/hooks/queries/useAuth.ts
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/src/lib/query-client.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/types.ts
  flowterview-backend/src/router/user_router.py
Due: eslint-flowterview-app

refactor: streamline interview flow and cloud storage integration
  backend/src/services/interview_flow.py
  flowterview-backend/.watchignore
  flowterview-backend/src/router/recording_router.py
  frontend/app/components/flowterview/main-component.tsx
  frontend/app/hooks/useRecordingUpload.ts
  frontend/app/interview/page.tsx
  frontend/app/page.tsx
Due: eslint-frontend

frontend changes
  frontend/app/components/flowterview/main-component.tsx
  frontend/app/page.tsx
Due: eslint-frontend

no job id condition
  frontend/app/page.tsx
Due: eslint-frontend

feat: implement direct S3 upload and enhance recording confirmation process
  backend/src/constants/prompts.py
  backend/src/llm_handler/flow_generator.py
  backend/src/services/analytics.py
  backend/src/services/interview_flow.py
  flowterview-backend/src/router/recording_router.py
  frontend/app/components/flowterview/main-component.tsx
  frontend/app/components/flowterview/recording-permission.tsx
  frontend/app/components/flowterview/screen-recorder.tsx
  frontend/app/hooks/useDirectS3Upload.ts
  frontend/app/hooks/useRecordingUpload.ts
  frontend/app/page.tsx
  frontend/app/store/PathStore.ts
Due: eslint-frontend

Enhance candidate analytics and dashboard features
  .gitignore
  backend/src/services/analytics.py
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/app/dashboard/analytics/[jobId]/[candidateId]/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/components/ui/CandidateCard.tsx
  flowterview-app/src/components/ui/interview-analytics.tsx
  flowterview-app/src/components/ui/phone-interview-section.tsx
  flowterview-app/src/components/ui/progress.tsx
  flowterview-app/src/hooks/queries/useAnalytics.ts
  flowterview-app/src/hooks/queries/useCandidates.ts
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

feat: enhance middleware and component logging for improved debugging
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/page.tsx
  flowterview-app/src/middleware.ts
  frontend/app/components/flowterview/main-component.tsx
  frontend/app/components/flowterview/recording-permission.tsx
  frontend/app/components/flowterview/screen-recorder.tsx
  frontend/app/hooks/useDirectS3Upload.ts
Due: eslint-frontend, eslint-flowterview-app

refactor: improve authentication handling and prevent infinite loops in interview details
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
Due: eslint-flowterview-app

feat: implement video optimization service and enhance recording upload process
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-backend/main.py
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/recording_router.py
  flowterview-backend/src/services/video_optimizer.py
  frontend/app/components/flowterview/recording-permission.tsx
  frontend/app/components/flowterview/screen-recorder.tsx
  frontend/app/hooks/useDirectS3Upload.ts
Due: eslint-frontend, eslint-flowterview-app

Update LLM model version and enhance interview analytics prompt
  backend/src/llm_handler/generic_llm.py
  backend/src/services/analytics.py
  backend/src/services/interview_flow.py
Due: none

feat: enhance analytics handling and improve error logging
  backend/src/services/analytics.py
  backend/src/services/interview_flow.py
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/components/ui/candidate-pipeline.tsx
  flowterview-app/src/hooks/queries/useAnalytics.ts
  flowterview-app/src/store/analytics-store.ts
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/recording_router.py
  flowterview-backend/src/services/video_optimizer.py
Due: eslint-flowterview-app

feat: enhance TTS service integration and resource management
  backend/pyproject.toml
  backend/src/core/config.py
  backend/src/services/interview_flow.py
  backend/src/services/tts_factory.py
  backend/uv.lock
Due: none

feat: extend room cleanup functionality to include 'sivera' pattern
  backend/src/lib/manager.py
  backend/src/scripts/cleanup_daily_rooms.py
Due: none

feat: enhance video optimization and error handling in recording process
  backend/src/core/config.py
  backend/src/llm_handler/generic_llm.py
  backend/src/services/analytics.py
  backend/src/services/interview_flow.py
  flowterview-backend/main.py
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/recording_router.py
  flowterview-backend/src/services/video_optimizer.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/recording-permission.tsx
  frontend/app/components/flowterview/screen-recorder.tsx
  frontend/app/hooks/useDirectS3Upload.ts
Due: eslint-frontend

candidate frontend updates
  .DS_Store
  frontend/app/components/flowterview/conclusion-section.tsx
  frontend/app/components/flowterview/main-component.tsx
  frontend/app/components/flowterview/presentation-layer.tsx
  frontend/app/components/flowterview/recording-permission.tsx
  frontend/app/components/flowterview/screen-recorder.tsx
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/ui/sonner.tsx
  frontend/components/ui/transcription-interface.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint-frontend

bug fixes
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/supabase-hooks.ts
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/components/ui/CandidateCard.tsx
  frontend/app/components/flowterview/recording-permission.tsx
  frontend/app/page.tsx
Due: eslint-frontend, eslint-flowterview-app

refactor: streamline logging and error handling across components
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/dashboard/analytics/[jobId]/[candidateId]/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/supabase-hooks.ts
  flowterview-app/src/app/page.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/src/lib/error-handler.ts
  flowterview-app/src/lib/query-client.ts
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-app/src/middleware.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/index.ts
  flowterview-backend/src/router/recording_router.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/controls.tsx
  frontend/app/components/flowterview/main-component.tsx
  frontend/app/components/flowterview/recording-permission.tsx
  frontend/app/components/flowterview/screen-recorder-optimized.tsx
  frontend/app/components/flowterview/screen-recorder.tsx
  frontend/app/components/flowterview/visual-layer.tsx
  frontend/app/global-error.tsx
  frontend/app/hooks/useDirectS3Upload.ts
  frontend/app/hooks/useEnhancedS3Upload.ts
  frontend/app/hooks/useRecordingUpload.ts
  frontend/app/interview/page.tsx
  frontend/app/lib/utils.ts
  frontend/app/page.tsx
  frontend/app/round/page.tsx
  frontend/app/store/PathStore.ts
Due: eslint-frontend, eslint-flowterview-app

feat: integrate AWS S3 configuration and enhance recording upload process
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/recording_router.py
  frontend/app/components/flowterview/main-component.tsx
  frontend/app/components/flowterview/screen-recorder-optimized.tsx
  frontend/app/hooks/useDirectS3Upload.ts
  frontend/app/hooks/useEnhancedS3Upload.ts
  frontend/app/hooks/useRecordingUpload.ts
  frontend/app/interview/page.tsx
  frontend/app/page.tsx
  frontend/app/store/PathStore.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint-frontend

feat: enhance interview termination process and logging
  backend/src/constants/prompts.py
  backend/src/services/handler_functions.py
  backend/src/services/interview_flow.py
Due: none

business email
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
  flowterview-app/src/app/dashboard/analytics/[jobId]/[candidateId]/page.tsx
  flowterview-app/src/components/ui/CandidateCard.tsx
  flowterview-app/src/components/ui/phone-interview-section.tsx
Due: eslint-flowterview-app

secret keys
  .github/workflows/recruiter-app-deploy.yml
  docker-compose.candidate.yml
  docker-compose.recruiter.yml
Due: none

bug fixes
  flowterview-app/src/app/auth/linkedin-callback/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/app/register/page.tsx
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/src/lib/error-handler.ts
  flowterview-app/store/analyticsStore.ts
  frontend/app/components/flowterview/screen-recorder-optimized.tsx
  frontend/app/components/flowterview/screen-recorder.tsx
  frontend/app/page.tsx
Due: eslint-frontend, eslint-flowterview-app

Update recruiter-app-deploy.yml
  .github/workflows/recruiter-app-deploy.yml
Due: none

Update main-app-deploy.yml
  .github/workflows/main-app-deploy.yml
Due: none
