Repository adiabb05-1317/Sivera: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-flowterview-app

.pre-commit-config.yaml:

repos:
  # Python linting with Ruff for backend directories
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff
        name: Run Ruff linter on Python backends
        args: [--fix, --ignore=E501, B904, ARG001, ARG002, SIM102, SIM103]
        files: ^(backend|flowterview-backend)/.*\.py$

      - id: ruff-format
        name: Run Ruff formatter on Python backends
        files: ^(backend|flowterview-backend)/.*\.py$

  # Next.js/TypeScript linting with ESLint for frontend directories
  - repo: local
    hooks:
      - id: eslint-frontend
        name: ESLint for frontend
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: eslint-flowterview-app
        name: ESLint for flowterview-app
        entry: bash -c 'cd flowterview-app && pnpm lint'
        language: system
        files: ^flowterview-app/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  # General hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|json|yaml|yml)$
      - id: end-of-file-fixer
        exclude: ^.*\.(md|json|yaml|yml)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements
        files: ^(backend|flowterview-backend)/.*\.py$
      - id: check-added-large-files
        args: ["--maxkb=1000"]

Refactor Candidates and Interviews Pages for Improved UI and Code Clarity
  .pre-commit-config.yaml
  flowterview-app/.eslintrc.json
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  frontend/.eslintrc.json
Due: eslint-flowterview-app

Configure Next.js ESLint properly - Updated flat config format with disabled problematic rules and optimized pre-commit hooks
  flowterview-app/.eslintrc.json
  flowterview-app/eslint.config.mjs
  flowterview-app/next.config.ts
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/page.tsx
  frontend/.eslintrc.json
  frontend/eslint.config.mjs
  frontend/next.config.ts
Due: eslint-frontend, eslint-flowterview-app

Enhance Logging Configuration and Update Main Application Settings
  backend/main.py
  backend/pyproject.toml
  backend/src/services/bot_defaults.py
  backend/src/utils/logger.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/controls.tsx
Due: eslint-frontend

Update configuration and interview flow services
  .DS_Store
  .gitignore
  backend/pyproject.toml
  backend/src/core/config.py
  backend/src/services/interview_flow.py
  backend/src/services/tts_factory.py
  backend/uv.lock
Due: none

cleanup
  README.md
  backend/src/services/bot_defaults.py
Due: none

fixed org id in routes endpoints
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/storage/db_manager.py
Due: none

feat: disable Save Candidate button when resumes are missing
  backend/src/services/bot_defaults.py
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
Due: eslint-flowterview-app

feat: implement bulk candidate upload and submission functionality
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/supabase-hooks.ts
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

feat: enhance authentication and state management integration
  .DS_Store
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/layout.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/candidatesStore.ts
  flowterview-app/store/index.ts
  flowterview-app/store/interviewsStore.ts
  flowterview-app/store/jobsStore.ts
  flowterview-app/store/types.ts
  frontend/app/components/flowterview/audio-client.tsx
Due: eslint-frontend, eslint-flowterview-app

added webpack configuration
  frontend/next.config.ts
Due: eslint-frontend

added turbo pack in packages.json
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  frontend/package.json
Due: none

fixed cookies set and login
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/index.ts
Due: eslint-flowterview-app

refactor: streamline authentication and state management
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/index.ts
Due: eslint-flowterview-app

feat: enhance interview flow generation with skills and duration
  backend/src/constants/prompts.py
  backend/src/llm_handler/flow_generator.py
  backend/src/router/path_router.py
  backend/storage/migrations.sql
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/layout.tsx
  flowterview-app/src/components/ui/carousel.tsx
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-app/store/types.ts
  flowterview-backend/FIXES_SUMMARY.md
  flowterview-backend/debug_db.py
  flowterview-backend/pyproject.toml
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/utils/llm_factory.py
  flowterview-backend/uv.lock
Due: eslint-flowterview-app

feat: add skills and duration management to interview details
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/store/types.ts
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/storage/migrations.sql
Due: eslint-flowterview-app

save button bug fix
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
Due: eslint-flowterview-app

baseline
  .DS_Store
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
Due: eslint-flowterview-app

feat: remove outdated interview flow configurations and improve candidate invite process
  backend/src/services/devops_flow.json
  backend/src/services/sde1_coding_discussion.json
  backend/src/services/sde1_improved_flow.json
  backend/src/services/sde1_interview_flow.json
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  flowterview-app/src/components/ui/skeleton.tsx
  flowterview-app/store/index.ts
  flowterview-backend/pyproject.toml
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/invites_router.py
  flowterview-backend/uv.lock
Due: eslint-flowterview-app

feat: enhance interview flow and token verification process
  backend/src/constants/prompts.py
  backend/src/router/path_router.py
  backend/src/services/bot_defaults.py
  backend/src/services/interview_flow.py
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-backend/src/router/interview_router.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/interview/page.tsx
  frontend/app/page.tsx
  frontend/app/store/PathStore.ts
Due: eslint-frontend, eslint-flowterview-app

feat: enhance store initialization and loading state management
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/dashboardStore.ts
  flowterview-app/store/index.ts
Due: eslint-flowterview-app

Revert "feat: enhance store initialization and loading state management"
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/dashboardStore.ts
  flowterview-app/store/index.ts
Due: eslint-flowterview-app

feat: improve store initialization and loading state handling
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/index.ts
Due: eslint-flowterview-app

feat: enhance UI loading states and streamline authentication flow
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/auth/login-simple/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/page.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/index.ts
  flowterview-app/store/jobsStore.ts
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/controls.tsx
  frontend/app/components/flowterview/visual-layer.tsx
  frontend/app/interview/page.tsx
Due: eslint-frontend, eslint-flowterview-app

diffs
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

feat: enhance candidate management and interview process features
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

feat: enhance bulk candidate upload functionality
  flowterview-app/src/lib/supabase-candidates.ts
Due: eslint-flowterview-app

feat: enhance interview process by adding candidate ID support
  backend/src/router/path_router.py
  backend/src/services/bot_defaults.py
  backend/src/services/interview_flow.py
  flowterview-backend/src/router/interview_router.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/interview/page.tsx
  frontend/app/store/PathStore.ts
Due: eslint-frontend

feat: implement phone screening functionality with SIP support
  backend/src/constants/prompts.py
  backend/src/lib/manager.py
  backend/src/router/path_router.py
  backend/src/services/phone_screening/daily/phone_screen.py
  backend/src/services/phone_screening/phone_bot_runner.py
Due: none

feat: update CORS and environment configurations for improved deployment
  backend/Dockerfile
  backend/src/core/config.py
  docker-compose.candidate.yml
  docker-compose.recruiter.yml
  flowterview-app/Dockerfile
  flowterview-app/next.config.ts
  flowterview-app/src/app/auth/login-simple/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  flowterview-app/src/lib/auth-client.ts
  flowterview-backend/Dockerfile
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/interview_router.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/now-answering.tsx
  frontend/app/interview/page.tsx
  frontend/app/lib/utils.ts
  frontend/lib/types/general.ts
Due: eslint-frontend, eslint-flowterview-app

feat: enhance environment configuration and API handling
  .gitignore
  backend/main.py
  backend/src/core/config.py
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/auth/confirmation/page.tsx
  flowterview-app/src/app/auth/login-simple/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/src/lib/utils.ts
  flowterview-app/store/authStore.ts
  flowterview-backend/main.py
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

feat: enhance phone screening and interview invitation process
  backend/src/router/path_router.py
  backend/src/services/phone_screening/daily/phone_screen.py
  backend/src/services/phone_screening/phone_bot_runner.py
  backend/storage/migrations.sql
  flowterview-app/src/app/dashboard/candidates/invite/supabase-hooks.ts
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/invites_router.py
  flowterview-backend/storage/migrations.sql
  frontend/app/interview/page.tsx
Due: eslint-frontend, eslint-flowterview-app

feat: enhance interview flow and transcription handling
  backend/src/router/path_router.py
  backend/src/services/bot_defaults.py
  backend/src/services/flows/default.json
  backend/src/services/interview_flow.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/presentation-layer.tsx
  frontend/app/page.tsx
  frontend/components/ui/transcription-interface.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint-frontend

feat: enhance interview flow with additional candidate details and dependencies
  backend/pyproject.toml
  backend/src/router/path_router.py
  backend/src/services/bot_defaults.py
  backend/src/services/interview_flow.py
  backend/src/services/llm_factory.py
  backend/src/utils/resume_extractor.py
  backend/uv.lock
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/controls.tsx
  frontend/app/components/flowterview/presentation-layer.tsx
  frontend/app/globals.css
  frontend/app/interview/page.tsx
  frontend/app/page.tsx
  frontend/app/store/PathStore.ts
  frontend/components/ui/transcription-interface.tsx
Due: eslint-frontend

feat: enhance interview flow and add LinkedIn OAuth support
  backend/src/services/interview_flow.py
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/app/auth/linkedin-callback/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/components/ui/drawer.tsx
  flowterview-backend/main.py
  flowterview-backend/run_migration.py
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/linkedin_oauth_router.py
  flowterview-backend/src/utils/linkedin_api.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/presentation-layer.tsx
  frontend/app/page.tsx
Due: eslint-frontend, eslint-flowterview-app

feat: enhance interview flow and candidate management
  .gitignore
  backend/src/llm_handler/analytics.py
  backend/src/services/interview_flow.py
  backend/src/utils/link_scraper.py
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/store/candidatesStore.ts
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/analytics_router.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/organization_router.py
  flowterview-backend/src/router/user_router.py
  frontend/app/components/flowterview/conclusion-section.tsx
  frontend/app/components/flowterview/controls.tsx
  frontend/app/interview/page.tsx
  frontend/app/page.tsx
Due: eslint-frontend, eslint-flowterview-app

feat: implement company setup modal and enhance organization management
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/components/CompanySetupModal.tsx
  flowterview-app/src/lib/supabase.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/types.ts
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/organization_router.py
  flowterview-backend/storage/migrations.sql
Due: eslint-flowterview-app

refactor: update typography across various components for consistency
  flowterview-app/src/app/auth/confirmation/page.tsx
  flowterview-app/src/app/auth/linkedin-callback/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
  flowterview-app/src/app/dashboard/analytics/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/app/page.tsx
  flowterview-app/src/app/register/page.tsx
  flowterview-app/src/components/ui/dialog.tsx
  flowterview-app/src/components/ui/input.tsx
  flowterview-app/src/components/ui/textarea.tsx
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

feat: add interview analytics service and integrate with interview flow
  backend/src/services/analytics.py
  backend/src/services/interview_flow.py
  flowterview-app/src/app/dashboard/analytics/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
Due: eslint-flowterview-app

feat: enhance analytics and link scraping functionality
  backend/src/services/analytics.py
  backend/src/utils/link_scraper.py
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/public/Sivera.png
  flowterview-app/public/SiveraDark.png
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/app/globals.css
  flowterview-app/src/components/CompanySetupModal.tsx
  flowterview-app/src/components/app-sidebar.tsx
  flowterview-app/src/components/ui/avatar.tsx
  flowterview-app/src/components/ui/separator.tsx
  flowterview-app/src/components/ui/sheet.tsx
  flowterview-app/src/components/ui/sidebar.tsx
  flowterview-app/src/components/ui/tooltip.tsx
  flowterview-app/src/hooks/use-mobile.ts
  flowterview-app/src/lib/auth-client.ts
Due: eslint-flowterview-app

feat: enhance interview analytics and dashboard components
  backend/src/services/interview_flow.py
  flowterview-app/src/app/dashboard/analytics/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/components/ui/breadcrumb.tsx
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/store/analyticsStore.ts
  flowterview-app/store/index.ts
  flowterview-backend/main.py
  flowterview-backend/src/router/analytics_router.py
Due: eslint-flowterview-app
