Repository adiabb05-1317/Sivera: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-flowterview-app

eslint-frontend:
  name: ESLint for frontend (warnings only)
  entry: bash -c 'cd frontend && pnpm lint --fix || true'
  language: system
  pass_filenames: false
  verbose: true

eslint-flowterview-app:
  name: ESLint for flowterview-app (warnings only)
  entry: bash -c 'cd flowterview-app && pnpm lint --fix || true'
  language: system
  pass_filenames: false
  verbose: true

Add GitHub Actions workflows for HTTPS deployment
  .github/workflows/main-app-deploy.yml
  .github/workflows/recruiter-app-deploy.yml
Due: none

feat: implement phone screening functionality and enhance database schema
  backend/storage/migrations.sql
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/auth/confirmation/page.tsx
  flowterview-app/src/app/auth/linkedin-callback/page.tsx
  flowterview-app/src/app/auth/login-simple/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
  flowterview-app/src/app/dashboard/analytics/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/app/register/page.tsx
  flowterview-app/src/components/CompanySetupModal.tsx
  flowterview-app/src/components/app-sidebar.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  flowterview-app/src/components/ui/bulk-phone-screen-scheduler.tsx
  flowterview-app/src/components/ui/calendar.tsx
  flowterview-app/src/components/ui/checkbox.tsx
  flowterview-app/src/components/ui/phone-interview-section.tsx
  flowterview-app/src/components/ui/phone-screen-status.tsx
  flowterview-app/src/components/ui/tabs.tsx
  flowterview-app/src/lib/phone-validation.ts
  flowterview-backend/main.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/phone_screen_router.py
  flowterview-backend/src/services/phone_screen_scheduler.py
  flowterview-backend/storage/migrations.sql
  frontend/app/components/flowterview/CodeEditor.tsx
  frontend/app/interview/page.tsx
Due: eslint-frontend, eslint-flowterview-app

feat: update role management and enhance candidate analytics
  flowterview-app/src/app/auth/callback/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/components/ui/interview-analytics.tsx
  flowterview-app/src/lib/supabase.ts
  flowterview-app/store/types.ts
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/user_router.py
Due: eslint-flowterview-app

feat: integrate drag-and-drop candidate pipeline and enhance interview components
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/components/ui/candidate-pipeline.tsx
  flowterview-app/src/components/ui/resizable.tsx
Due: eslint-flowterview-app

diffing up
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/components/ui/candidate-pipeline.tsx
  flowterview-app/src/components/ui/command.tsx
  flowterview-app/src/components/ui/drawer.tsx
Due: eslint-flowterview-app

feat: enhance interview flow and database schema
  backend/src/services/interview_flow.py
  backend/storage/migrations.sql
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  flowterview-app/src/components/ui/bulk-phone-screen-scheduler.tsx
  flowterview-app/src/components/ui/bulk-select-dialog.tsx
  flowterview-app/src/components/ui/candidate-pipeline.tsx
  flowterview-app/src/components/ui/slider.tsx
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/analytics_router.py
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/invites_router.py
  flowterview-backend/storage/migrations.sql
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/interview/page.tsx
Due: eslint-frontend, eslint-flowterview-app

feat: enhance candidate management and interview flow
  backend/src/router/path_router.py
  backend/src/services/interview_flow.py
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/components/ui/CandidateCard.tsx
  flowterview-app/src/components/ui/PipelineColumn.tsx
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/invites_router.py
  frontend/app/interview/page.tsx
Due: eslint-frontend, eslint-flowterview-app

feat: enhance assessment functionality in interview flow
  .DS_Store
  backend/src/constants/prompts.py
  backend/src/llm_handler/flow_generator.py
  backend/src/services/bot_defaults.py
  backend/src/services/handler_functions.py
  frontend/app/components/flowterview/AssessmentContainer.tsx
  frontend/app/components/flowterview/CodingEditor.tsx
  frontend/app/components/flowterview/JupyterNotebook.tsx
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/components/flowterview/controls.tsx
  frontend/app/components/flowterview/presentation-layer.tsx
  frontend/app/globals.css
  frontend/app/lib/icons.tsx
  frontend/app/page.tsx
  frontend/app/store/PathStore.ts
  frontend/lib/types/general.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint-frontend

feat: enhance interview details page and candidate management
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/components/ui/CandidateCard.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

bug fix
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

feat: implement human interview scheduling and bulk invite functionality
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  flowterview-app/src/lib/supabase.ts
  flowterview-app/store/types.ts
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/organization_router.py
Due: eslint-flowterview-app

feat: enhance interview scheduling and data management
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-backend/main.py
  flowterview-backend/src/core/config.py
  flowterview-backend/src/router/interview_router.py
  flowterview-backend/src/router/round_router.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/page.tsx
  frontend/app/round/page.tsx
  frontend/app/store/PathStore.ts
Due: eslint-frontend, eslint-flowterview-app

feat: enhance assessment handling and UI components
  flowterview-app/src/app/dashboard/page.tsx
  frontend/app/components/flowterview/AssessmentContainer.tsx
  frontend/app/components/flowterview/CodingEditor.tsx
  frontend/app/components/flowterview/JupyterNotebook.tsx
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/page.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint-frontend, eslint-flowterview-app

bug fix
  frontend/app/page.tsx
Due: eslint-frontend

fixed invalidation on updating interviews and candidates etc
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/components/app-sidebar.tsx
  flowterview-app/src/components/error-boundary.tsx
  flowterview-app/src/lib/auth-client.ts
  flowterview-app/src/lib/config.ts
  flowterview-app/src/lib/error-handler.ts
  flowterview-app/src/lib/loading-states.ts
  flowterview-app/src/middleware.ts
  flowterview-app/store/candidatesStore.ts
  flowterview-app/store/interviewsStore.ts
Due: eslint-flowterview-app

added condition to refreshCandidates
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/lib/supabase-candidates.ts
Due: eslint-flowterview-app

feat: enhance candidate management and interview details
  backend/src/services/flows/default.json.backup
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/store/interviewsStore.ts
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

bug fix
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/lib/supabase-candidates.ts
Due: eslint-flowterview-app

fixed email column organizations signup
  flowterview-backend/src/router/user_router.py
Due: none

refresh interviews
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
Due: eslint-flowterview-app

fixed user creation role
  flowterview-backend/src/router/user_router.py
Due: none

version update
  backend/main.py
Due: none

model change
  backend/src/constants/ai_models.py
  backend/src/core/config.py
  flowterview-app/src/lib/auth-client.ts
Due: eslint-flowterview-app

version change
  backend/main.py
  flowterview-backend/main.py
Due: none

feat: enhance candidate invitation process and resume handling
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/lib/supabase-candidates.ts
  flowterview-backend/src/router/candidate_router.py
  flowterview-backend/src/router/interview_router.py
Due: eslint-flowterview-app

refactor: replace custom toast implementation with Sonner library
  flowterview-app/src/app/auth/linkedin-callback/page.tsx
  flowterview-app/src/app/auth/login/page.tsx
  flowterview-app/src/app/auth/signup/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/from-description/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/app/layout.tsx
  flowterview-app/src/app/register/page.tsx
  flowterview-app/src/components/ui/bulk-invite-dialog.tsx
  flowterview-app/src/components/ui/bulk-phone-screen-scheduler.tsx
  flowterview-app/src/components/ui/candidate-pipeline.tsx
  flowterview-app/src/components/ui/phone-interview-section.tsx
  flowterview-app/src/components/ui/phone-screen-status.tsx
  flowterview-app/src/components/ui/sonner.tsx
  flowterview-app/src/components/ui/toaster.tsx
  flowterview-app/src/hooks/use-toast.ts
Due: eslint-flowterview-app

feat: enhance session handling and dashboard display
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/app/page.tsx
Due: eslint-flowterview-app

title & logo
  flowterview-app/public/favicon.ico
  flowterview-app/src/app/layout.tsx
  frontend/app/layout.tsx
  frontend/public/favicon.ico
Due: eslint-frontend, eslint-flowterview-app

feat: enhance TTS instructions and update font in layout
  backend/src/services/interview_flow.py
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/layout.tsx
  frontend/Dockerfile
  frontend/app/components/flowterview/audio-client.tsx
  frontend/package.json
Due: eslint-frontend, eslint-flowterview-app

fix: update Dockerfile and package.json for server startup
  frontend/Dockerfile
  frontend/package.json
Due: none

port fix
  frontend/Dockerfile
Due: none

idk what the fuck is going on
  docker-compose.candidate.yml
  frontend/Dockerfile
Due: none

analytics bug
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/components/ui/CandidateCard.tsx
  flowterview-app/src/components/ui/candidate-pipeline.tsx
Due: eslint-flowterview-app

feat: improve interview flow and timer functionality
  backend/src/constants/prompts.py
  backend/src/core/config.py
  backend/src/services/interview_flow.py
Due: none

feat: update interview flow and audio client for improved end handling
  backend/src/services/interview_flow.py
  frontend/app/components/flowterview/audio-client.tsx
  frontend/app/page.tsx
Due: eslint-frontend

feat: integrate TanStack Query for data management and enhance auth listener
  flowterview-app/package.json
  flowterview-app/pnpm-lock.yaml
  flowterview-app/src/app/auth-listener.tsx
  flowterview-app/src/app/dashboard/analytics/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/dashboard/settings/page.tsx
  flowterview-app/src/app/layout.tsx
  flowterview-app/src/app/query-provider.tsx
  flowterview-app/src/app/store-initializer.tsx
  flowterview-app/src/hooks/queries/useAnalytics.ts
  flowterview-app/src/hooks/queries/useAuth.ts
  flowterview-app/src/hooks/queries/useCandidates.ts
  flowterview-app/src/hooks/queries/useInterviews.ts
  flowterview-app/src/hooks/queries/useJobs.ts
  flowterview-app/src/hooks/useStores.ts
  flowterview-app/src/lib/error-handler.ts
  flowterview-app/src/lib/query-client.ts
  flowterview-app/store/analyticsStore.ts
  flowterview-app/store/authStore.ts
  flowterview-app/store/candidatesStore.ts
  flowterview-app/store/index.ts
  flowterview-app/store/interviewsStore.ts
  flowterview-app/store/jobsStore.ts
Due: eslint-flowterview-app

fix: update analytics integration and improve dashboard data handling
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/hooks/queries/useAnalytics.ts
  flowterview-app/src/hooks/useStores.ts
Due: eslint-flowterview-app

bug fix
  backend/src/services/interview_flow.py
  frontend/app/page.tsx
Due: eslint-frontend

refactor: improve code readability and consistency across dashboard components
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/components/app-sidebar.tsx
  flowterview-app/src/components/ui/sidebar.tsx
  flowterview-app/src/hooks/queries/useAnalytics.ts
  flowterview-app/src/hooks/useStores.ts
Due: eslint-flowterview-app

style: update color scheme and improve UI consistency across components
  flowterview-app/src/app/dashboard/analytics/page.tsx
  flowterview-app/src/app/dashboard/candidates/invite/page.tsx
  flowterview-app/src/app/dashboard/candidates/page.tsx
  flowterview-app/src/app/dashboard/interviews/[id]/page.tsx
  flowterview-app/src/app/dashboard/interviews/page.tsx
  flowterview-app/src/app/dashboard/layout.tsx
  flowterview-app/src/app/dashboard/page.tsx
  flowterview-app/src/app/globals.css
  flowterview-app/src/components/app-sidebar.tsx
  flowterview-app/src/components/ui/bulk-phone-screen-scheduler.tsx
Due: eslint-flowterview-app

Path conditions:
  eslint-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  eslint-flowterview-app: any of: ^flowterview-app/.*\.(js|jsx|ts|tsx)$
